body{

    background-color: rgb(183, 176, 176);

}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-imagem{
width: 200px;
height: 200px;
border-radius: 50%;

}